@font-face{
    font-family: urban-shadow;
    src: url("fonts/urban-shadow.otf");
}
@font-face{
    font-family: din-alternate;
    src: url("fonts/DIN\ Alternate\ Regular.otf");
    font-weight: 400;
}
@font-face{
    font-family: din-alternate;
    src: url("fonts/DINAlternate-Bold.ttf");
    font-weight: 500;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vw;
}
.footer .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    font-family: din-alternate;
    font-size: clamp(10px,2.5vw,15px);
}
.instagram-logo{
    width: clamp(20px,4vw,24px);
}
.youtube-logo{
    width: clamp(30px,6vw,36px);
}
.footer button{
    background: none;
    border: none;
    transition: transform 0.25s ease;
    margin-left: 20px;
    margin-right: 20px;
}
.footer button:hover{
    transform: translateY(-0.5vw);
    cursor: url('/cursor-icon.png'), auto !important;
}
