@font-face{
    font-family: urban-shadow;
    src: url("fonts/urban-shadow.otf");
}
@font-face{
    font-family: din-alternate;
    src: url("fonts/DIN\ Alternate\ Regular.otf");
    font-weight: 400;
}
@font-face{
    font-family: din-alternate;
    src: url("fonts/DINAlternate-Bold.ttf");
    font-weight: 500;
}
@keyframes mobile-links{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.container{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    justify-content: space-between;
    padding-top: 1vw;
    padding-bottom: 1vw;
    z-index: 400;
    border-bottom: 0.15vw solid white;
    height: clamp(30px,4vw,40px);
}
.links{
    display: flex;
    align-items: center;
}
.links a{
    text-decoration: none;
    color: white;
}
.navbar li{
    display: inline-block;
    font-size: clamp(15px,2.5vw,30px);
    color: white;
    opacity: 0.75;
    transition: scale 0.25s ease;
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: urban-shadow;
}
.navbar li:hover{
    cursor: pointer;
    scale: 1.25;
    opacity: 1;
}
.logo{
    width: clamp(30px,4vw,60px);
    margin-left: 1vw;
    transition: scale 0.25s ease;
}
.logo:hover{
    scale: 1.25;
    cursor: pointer;
}
.hamburger{
    display: none;
}
.mobile-overlay{
    display: none;
}
@media(max-width: 770px){
    body.noScroll{
        overflow: hidden;
    }
    .links{
        display: none;
    }
    .hamburger{
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: clamp(20px,5vw,40px);
        margin-right: 1vw;
    }
    .hamburger:hover{
        cursor: pointer;
    }
    .mobile-overlay{
        display: none;
    }
    .mobile-overlay.show{
        display: flex;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: rgba(0,0,0,0.75);
        z-index: 9999;
    }
    .mobile-links{
        position: absolute;
        top: 20%;
        color: white;
        width: 100vw;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .mobile-links li{
        opacity: 0;
        transform: translateX(30px);
        list-style-type: none;
        text-align: center;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 25px;
        font-size: 35px;
        letter-spacing: 1px;
        font-family: urban-shadow;
        animation: mobile-links 0.25s forwards;
    }
    .mobile-links a{
        text-decoration: none;
        color: white;
    }
    .close{
        background: none;
        border: none;
        color: white;
        font-size: 80px;
        margin: 10px;
        align-self: flex-end;
    }
}